@import "./colors";
@import "./reset";
// $primaryColor:aqua;
// $lightColor:#000;
// $primaryFont:arial;
// body{
//     background-color: $primaryColor;
//     color: $lightColor;
// }
// .section{
//     $primaryColor:red !global;
//     padding: 24px 16px;
//     color: $primaryColor;
//     background-color: $lightColor;
// }

// h1,h4{
//     font-family: $primaryFont;
//     color: $primaryColor;
// }

$headerHeight: 40px;

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header#navbar {
  background-color: $primaryColor;
  height: $headerHeight;
  nav {
    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
      text-align: center;
      li {
        display: inline-block;
        a {
          color: $lightColor;
          line-height: $headerHeight;
          text-decoration: none;
          display: inline-block;
          padding: 0 20px;
          &:hover {
            background-color: $secondaryColor;
            color: $primaryColor;
          }
        }
      }
    }
  }
}
main {
  background-color: $secondaryColor;
  color: $lightColor;
  flex: 1 0 auto;
  h2{
    @include important-text;
  }
}
footer {
  background-color: $primaryColor;
  padding: 10px 4px;
  p {
    color: $lightColor;
    text-align: center;
  }
}
